.title{
  font-size: 30px;
  margin-bottom: 0;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.input {
  width: 450px;
}

.submit:hover{
  filter: brightness(1.05);
}

.error{
  color: var(--text-color-blue-hover);
}
