.form{
    width: 650px;
}

.area{
    margin: 10px;
}

.inputArea{
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    align-items: center;
    margin: 15px 0;
    /*align-items: center;*/
    /*gap: 15px;*/
}

.title{
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.input{
    box-sizing: border-box;
    width: 350px;
    font-size: 16px;
    height: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error{
    margin: 0;
    color: var(--text-color-blue-hover);
}

.postscript{
    font-weight: bold;
    margin-left: 5px;
}

.textArea{
    box-sizing: border-box;
    width: 350px;
    height: 200px;
    font-size: 15px;
    resize: none;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radioForm{
    display: flex;
    flex-direction: row;
}

.MuiFormControl-root{
    position: relative;
}
